.logo{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

body{
    background-image: linear-gradient(-90deg, red, yellow);
    height: 100vh;
}

.container{
    max-width: 955px;
    margin: auto;
    background-color: aqua;
    height: 60vh;
}

.message {
 background: #ffffff;
 width: 24%;
 padding: 10px;
 margin: 17px 12px;
 border-radius: 5px;
}

.left{
 display: flex;
 float: left;
 clear: both;
}

.right{
  display: flex;
  float: right;
  clear: both;
}

#send-container{
    text-align: center;
    display: block;
    max-width: 955px;
    margin: auto;
    width: 100%;
}

#messageInp{
    width: 93%;
    border-radius: 5px;
    height: 32px;
}