.logo{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    /* box-shadow: 5px 10px 5px #6b5f5f; */
}

body{
    background-image: linear-gradient(-90deg,rgb(216, 238, 238), rgb(178, 205, 212));
    height: 100vh;
}

.container{
    max-width: 955px;
    margin: auto;
    /* background-color: rgb(216, 230, 230); */
    border-radius: 5px;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message {
 background: #ffffff;
 width: 24%;
 padding: 10px;
 margin: 17px 12px;
 border-radius: 5px;
 box-shadow: 5px 10px 5px #6b5f5f;
}

.left{
 display: flex;
 float: left;
 clear: both;
}

.right{
  display: flex;
  float: right;
  clear: both;
}

#send-container{
    text-align: center;
    display: block;
    max-width: 955px;
    margin: auto;
    width: 100%;
}

#messageInp{
    width: 9%;
    border-radius: 5px;
    height: 32px;
}

.btn{
   cursor: pointer;
   border-radius: 5px;
   height: 32px;
   font-size: 16px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:rgb(143, 134, 134);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b5f5f;
}