.logo{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

/* body{
    background-image:linear-gradient( rgb(231, 231, 135),rgb(216, 161, 109),rgb(238, 118, 118),rgb(173, 101, 196)) ;
} */

.container{
    max-width: 955px;
    margin: auto;
    background-color: aqua;
}

.message {

}

.left{

}

.rig